In [67]:
import numpy as np
import pandas as pd

In [68]:
#ワーニングを無視する
import warnings
warnings.simplefilter('ignore')

In [69]:
#csvファイルのインポート
##日本語フォントはエンコーディングが必要
df_jp_ind = pd.read_csv('./csv_data/雇用_医療福祉_一人当たり賃金_全国_全産業.csv', encoding='shift_jis')
df_jp_category = pd.read_csv('./csv_data/雇用_医療福祉_一人当たり賃金_全国_大分類.csv', encoding='shift_jis')
df_pref_ind = pd.read_csv('./csv_data/雇用_医療福祉_一人当たり賃金_都道府県_全産業.csv', encoding='shift_jis')
df_pref_category = pd.read_csv('./csv_data/雇用_医療福祉_一人当たり賃金_都道府県_大分類.csv', encoding='shift_jis')

In [70]:
# データの中身のチェック
print('====== データサイズ\n', df_jp_category.shape)
print('====== index\n', df_jp_category.index)
print('====== カラム名\n', df_jp_category.columns)
print('====== データ型\n', df_jp_category.dtypes)
df_jp_category.head()

====== データサイズ
 (2080, 7)
====== index
 RangeIndex(start=0, stop=2080, step=1)
====== カラム名
 Index(['集計年', '産業大分類コード', '産業大分類名', '年齢', '所定内給与額（万円）', '年間賞与その他特別給与額（万円）',
       '一人当たり賃金（万円）'],
      dtype='object')
====== データ型
 集計年                   int64
産業大分類コード             object
産業大分類名               object
年齢                   object
所定内給与額（万円）          float64
年間賞与その他特別給与額（万円）    float64
一人当たり賃金（万円）         float64
dtype: object

,集計年,産業大分類コード,産業大分類名,年齢,所定内給与額（万円）,年間賞与その他特別給与額（万円）,一人当たり賃金（万円）
0,2010,C,鉱業，採石業，砂利採取業,年齢計,31.2283,93.9023,468.6416
1,2010,C,鉱業，採石業，砂利採取業,〜19歳,18.3400,28.2117,248.2917
2,2010,C,鉱業，採石業，砂利採取業,20〜24歳,20.5200,67.4473,313.6873
3,2010,C,鉱業，採石業，砂利採取業,25〜29歳,25.0535,76.8142,377.4560
4,2010,C,鉱業，採石業，砂利採取業,30〜34歳,27.8412,72.1694,406.2639

In [71]:
# データの中身のチェック
print('====== データサイズ\n', df_pref_ind.shape)
print('====== index\n', df_pref_ind.index)
print('====== カラム名\n', df_pref_ind.columns)
print('====== データ型\n', df_pref_ind.dtypes)
df_pref_ind.head()

====== データサイズ
 (6110, 7)
====== index
 RangeIndex(start=0, stop=6110, step=1)
====== カラム名
 Index(['集計年', '都道府県コード', '都道府県名', '年齢', '所定内給与額（万円）', '年間賞与その他特別給与額（万円）',
       '一人当たり賃金（万円）'],
      dtype='object')
====== データ型
 集計年                   int64
都道府県コード               int64
都道府県名                object
年齢                   object
所定内給与額（万円）          float64
年間賞与その他特別給与額（万円）    float64
一人当たり賃金（万円）         float64
dtype: object

    集計年  都道府県コード 都道府県名      年齢  所定内給与額（万円）  年間賞与その他特別給与額（万円）  一人当たり賃金（万円）
0  2010        1   北海道     年齢計       26.23             67.15       381.91
1  2010        1   北海道    〜19歳       15.29             14.41       197.89
2  2010        1   北海道  20〜24歳       18.04             30.16       246.64
3  2010        1   北海道  25〜29歳       20.93             48.06       299.22
4  2010        1   北海道  30〜34歳       24.08             57.10       346.06

In [72]:
# データの中身のチェック
print('====== データサイズ\n', df_pref_category.shape)
print('====== index\n', df_pref_category.index)
print('====== カラム名\n', df_pref_category.columns)
print('====== データ型\n', df_pref_category.dtypes)
df_pref_category.head()

====== データサイズ
 (97760, 9)
====== index
 RangeIndex(start=0, stop=97760, step=1)
====== カラム名
 Index(['集計年', '都道府県コード', '都道府県名', '産業大分類コード', '産業大分類名', '年齢', '所定内給与額（万円）',
       '年間賞与その他特別給与額（万円）', '一人当たり賃金（万円）'],
      dtype='object')
====== データ型
 集計年                  int64
都道府県コード              int64
都道府県名               object
産業大分類コード            object
産業大分類名              object
年齢                  object
所定内給与額（万円）          object
年間賞与その他特別給与額（万円）    object
一人当たり賃金（万円）         object
dtype: object

,集計年,都道府県コード,都道府県名,産業大分類コード,産業大分類名,年齢,所定内給与額（万円）,年間賞与その他特別給与額（万円）,一人当たり賃金（万円）
0,2010,1,北海道,C,鉱業，採石業，砂利採取業,年齢計,28.85,74.95,421.15
1,2010,1,北海道,C,鉱業，採石業，砂利採取業,〜19歳,18.84,19.88,245.96
2,2010,1,北海道,C,鉱業，採石業，砂利採取業,20〜24歳,21.13,89.56,343.12
3,2010,1,北海道,C,鉱業，採石業，砂利採取業,25〜29歳,25.25,83.94,386.94
4,2010,1,北海道,C,鉱業，採石業，砂利採取業,30〜34歳,24.54,66.53,361.01

In [73]:
# 途中のデータを抜きだす
df_pref_category[1001:1006]

,集計年,都道府県コード,都道府県名,産業大分類コード,産業大分類名,年齢,所定内給与額（万円）,年間賞与その他特別給与額（万円）,一人当たり賃金（万円）
1001,2010,5,秋田県,P,医療，福祉,年齢計,23.06,64.68,341.4
1002,2010,5,秋田県,P,医療，福祉,〜19歳,13.91,3.8,170.72
1003,2010,5,秋田県,P,医療，福祉,20〜24歳,17.27,32.09,239.33
1004,2010,5,秋田県,P,医療，福祉,25〜29歳,20.22,53.59,296.23
1005,2010,5,秋田県,P,医療，福祉,30〜34歳,21.04,61.73,314.21

In [74]:
# 見たい行のデータを抜き出す：loc
df_pref_category.loc[15000]

集計年                   2011
都道府県コード                 26
都道府県名                  京都府
産業大分類コード                 D
産業大分類名                 建設業
年齢                  65〜69歳
所定内給与額（万円）           27.56
年間賞与その他特別給与額（万円）      50.5
一人当たり賃金（万円）         381.22
Name: 15000, dtype: object

In [75]:
# データフレームの最後を抜き出す
df_pref_category.tail()

,集計年,都道府県コード,都道府県名,産業大分類コード,産業大分類名,年齢,所定内給与額（万円）,年間賞与その他特別給与額（万円）,一人当たり賃金（万円）
97755,2019,47,沖縄県,R,サービス業（他に分類されないもの）,50〜54歳,25.04,48.17,348.65
97756,2019,47,沖縄県,R,サービス業（他に分類されないもの）,55〜59歳,23.12,35.72,313.16
97757,2019,47,沖縄県,R,サービス業（他に分類されないもの）,60〜64歳,21.65,21,280.8
97758,2019,47,沖縄県,R,サービス業（他に分類されないもの）,65〜69歳,16.95,12.73,216.13
97759,2019,47,沖縄県,R,サービス業（他に分類されないもの）,70歳〜,15.12,2.34,183.78

<b>ユニークデータの取得

In [76]:
df_pref_category['産業大分類名'].unique()

array(['鉱業，採石業，砂利採取業', '建設業', '製造業', '電気・ガス・熱供給・水道業', '情報通信業', '運輸業，郵便業',
       '卸売業，小売業', '金融業，保険業', '不動産業，物品賃貸業', '学術研究，専門・技術サービス業',
       '宿泊業，飲食サービス業', '生活関連サービス業，娯楽業', '教育，学習支援業', '医療，福祉', '複合サービス事業',
       'サービス業（他に分類されないもの）'], dtype=object)

In [77]:
df_pref_category['産業大分類名'].nunique()

16

In [78]:
df_pref_category['年齢'].unique()

array(['年齢計', '〜19歳', '20〜24歳', '25〜29歳', '30〜34歳', '35〜39歳', '40〜44歳',
       '45〜49歳', '50〜54歳', '55〜59歳', '60〜64歳', '65〜69歳', '70歳〜'],
      dtype=object)

In [79]:
df_pref_category['年齢'].nunique()

13

In [80]:
df_pref_category['所定内給与額（万円）'].nunique()

4994

In [81]:


# 重複データの確認

In [82]:
df_jp_ind.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
125    False
126    False
127    False
128    False
129    False
Length: 130, dtype: bool

In [83]:
df_jp_ind.duplicated().any()
#     列が多く全てが見れrない→一つでも重複データがあるかの確認

False

In [84]:
print(df_jp_ind.duplicated().any())
print(df_jp_category.duplicated().any())
print(df_pref_ind.duplicated().any())
print(df_pref_category.duplicated().any())

False
False
False
False

In [85]:



# 欠損値の確認

In [86]:
df_jp_ind.isnull().sum()

集計年                 0
年齢                  0
所定内給与額（万円）          0
年間賞与その他特別給与額（万円）    0
一人当たり賃金（万円）         0
dtype: int64

In [87]:
print(df_jp_ind.isnull().sum())
print(df_jp_category.isnull().sum())
print(df_pref_ind.isnull().sum())
print(df_pref_category.isnull().sum())

集計年                 0
年齢                  0
所定内給与額（万円）          0
年間賞与その他特別給与額（万円）    0
一人当たり賃金（万円）         0
dtype: int64
集計年                 0
産業大分類コード            0
産業大分類名              0
年齢                  0
所定内給与額（万円）          0
年間賞与その他特別給与額（万円）    0
一人当たり賃金（万円）         0
dtype: int64
集計年                 0
都道府県コード             0
都道府県名               0
年齢                  0
所定内給与額（万円）          0
年間賞与その他特別給与額（万円）    0
一人当たり賃金（万円）         0
dtype: int64
集計年                 0
都道府県コード             0
都道府県名               0
産業大分類コード            0
産業大分類名              0
年齢                  0
所定内給与額（万円）          0
年間賞与その他特別給与額（万円）    0
一人当たり賃金（万円）         0
dtype: int64

In [88]:
# isnullでは、NANを確認しているが、その他の文字列が入っている場合は、検出できない

In [89]:
# 特定の文字列を含む行の抽出

In [90]:
print('====== データ型 ======\n', df_pref_category.dtypes)

====== データ型 ======
 集計年                  int64
都道府県コード              int64
都道府県名               object
産業大分類コード            object
産業大分類名              object
年齢                  object
所定内給与額（万円）          object
年間賞与その他特別給与額（万円）    object
一人当たり賃金（万円）         object
dtype: object

In [91]:
# 統計処理の計算を行う上で、object型ではエラーになってしまう
# データの型をfloat型へ変換する必要あり

In [92]:
df_pref_category['所定内給与額（万円）'] = df_pref_category['所定内給与額（万円）'].astype(float)

ValueError: could not convert string to float: '-'

In [93]:
# 完全一致
# 部分一致

In [94]:
# 完全一致:所定内給与額　に'-'を含む行
df_pref_category[df_pref_category['所定内給与額（万円）'] == '-']

,集計年,都道府県コード,都道府県名,産業大分類コード,産業大分類名,年齢,所定内給与額（万円）,年間賞与その他特別給与額（万円）,一人当たり賃金（万円）
51,2010,1,北海道,F,電気・ガス・熱供給・水道業,70歳〜,-,-,-
129,2010,1,北海道,L,学術研究，専門・技術サービス業,70歳〜,-,-,-
157,2010,1,北海道,O,教育，学習支援業,〜19歳,-,-,-
194,2010,1,北海道,Q,複合サービス事業,70歳〜,-,-,-
219,2010,2,青森県,C,鉱業，採石業，砂利採取業,65〜69歳,-,-,-
...,...,...,...,...,...,...,...,...,...
97603,2019,47,沖縄県,F,電気・ガス・熱供給・水道業,70歳〜,-,-,-
97655,2019,47,沖縄県,J,金融業，保険業,70歳〜,-,-,-
97670,2019,47,沖縄県,L,学術研究，専門・技術サービス業,〜19歳,-,-,-
97735,2019,47,沖縄県,Q,複合サービス事業,〜19歳,-,-,-
97746,2019,47,沖縄県,Q,複合サービス事業,70歳〜,-,-,-

In [95]:
df_pref_category['所定内給与額（万円）'] == '-'

0        False
1        False
2        False
3        False
4        False
         ...
97755    False
97756    False
97757    False
97758    False
97759    False
Name: 所定内給与額（万円）, Length: 97760, dtype: bool

In [96]:


# 部分一致
df_pref_category[df_pref_category['所定内給与額（万円）'].str.contains('-')]

,集計年,都道府県コード,都道府県名,産業大分類コード,産業大分類名,年齢,所定内給与額（万円）,年間賞与その他特別給与額（万円）,一人当たり賃金（万円）
51,2010,1,北海道,F,電気・ガス・熱供給・水道業,70歳〜,-,-,-
129,2010,1,北海道,L,学術研究，専門・技術サービス業,70歳〜,-,-,-
157,2010,1,北海道,O,教育，学習支援業,〜19歳,-,-,-
194,2010,1,北海道,Q,複合サービス事業,70歳〜,-,-,-
219,2010,2,青森県,C,鉱業，採石業，砂利採取業,65〜69歳,-,-,-
...,...,...,...,...,...,...,...,...,...
97603,2019,47,沖縄県,F,電気・ガス・熱供給・水道業,70歳〜,-,-,-
97655,2019,47,沖縄県,J,金融業，保険業,70歳〜,-,-,-
97670,2019,47,沖縄県,L,学術研究，専門・技術サービス業,〜19歳,-,-,-
97735,2019,47,沖縄県,Q,複合サービス事業,〜19歳,-,-,-
97746,2019,47,沖縄県,Q,複合サービス事業,70歳〜,-,-,-

In [97]:
# 欠損値について

In [98]:
temp_df = df_pref_category[df_pref_category['所定内給与額（万円）'] == '-']
temp_df.head()

,集計年,都道府県コード,都道府県名,産業大分類コード,産業大分類名,年齢,所定内給与額（万円）,年間賞与その他特別給与額（万円）,一人当たり賃金（万円）
51,2010,1,北海道,F,電気・ガス・熱供給・水道業,70歳〜,-,-,-
129,2010,1,北海道,L,学術研究，専門・技術サービス業,70歳〜,-,-,-
157,2010,1,北海道,O,教育，学習支援業,〜19歳,-,-,-
194,2010,1,北海道,Q,複合サービス事業,70歳〜,-,-,-
219,2010,2,青森県,C,鉱業，採石業，砂利採取業,65〜69歳,-,-,-

In [99]:
# 低年齢・高年齢に寄ってそう-->どの年齢があるか調べる

In [100]:
temp_df['年齢'].unique()

array(['70歳〜', '〜19歳', '65〜69歳', '20〜24歳', '30〜34歳', '25〜29歳', '60〜64歳',
       '35〜39歳', '50〜54歳', '45〜49歳', '40〜44歳', '年齢計', '55〜59歳'],
      dtype=object)

In [101]:
# 年齢別の偏りを見る
temp_df['年齢'].value_counts()

70歳〜      1701
〜19歳       950
65〜69歳     433
20〜24歳     171
25〜29歳      89
30〜34歳      43
35〜39歳      33
60〜64歳      25
40〜44歳      22
55〜59歳      17
50〜54歳      16
45〜49歳      15
年齢計         11
Name: 年齢, dtype: int64

In [102]:
# 都道府県別の欠損値
temp_df['都道府県名'].value_counts()

奈良県     166
滋賀県     135
鳥取県     134
徳島県     113
愛媛県     106
香川県     100
沖縄県     100
和歌山県     95
群馬県      91
高知県      89
大阪府      88
石川県      87
山梨県      86
島根県      85
山形県      84
新潟県      82
宮城県      82
茨城県      82
佐賀県      81
広島県      81
福井県      78
長野県      76
宮崎県      75
京都府      74
福島県      73
兵庫県      72
秋田県      69
富山県      67
山口県      67
熊本県      65
岡山県      65
岐阜県      63
青森県      62
岩手県      62
大分県      59
静岡県      58
栃木県      58
鹿児島県     58
長崎県      56
三重県      54
愛知県      47
神奈川県     46
埼玉県      43
福岡県      34
千葉県      33
北海道      32
東京都      13
Name: 都道府県名, dtype: int64

In [103]:
# 都道府県別の欠損値
temp_df['産業大分類名'].value_counts()

鉱業，採石業，砂利採取業         1121
情報通信業                 551
電気・ガス・熱供給・水道業         546
複合サービス事業              412
教育，学習支援業              227
学術研究，専門・技術サービス業       200
不動産業，物品賃貸業            144
金融業，保険業               131
生活関連サービス業，娯楽業          61
医療，福祉                  53
建設業                    40
運輸業，郵便業                14
卸売業，小売業                12
宿泊業，飲食サービス業            10
サービス業（他に分類されないもの）       4
Name: 産業大分類名, dtype: int64

<br><br>
欠損値の処理<br>
==========<br>
'-' を欠損値　nan　に置き換える

In [104]:
df_pref_category['所定内給与額（万円）']= df_pref_category['所定内給与額（万円）'].replace('-', np.nan)
df_pref_category['年間賞与その他特別給与額（万円）']= df_pref_category['年間賞与その他特別給与額（万円）'].replace('-', np.nan)
df_pref_category['一人当たり賃金（万円）']= df_pref_category['一人当たり賃金（万円）'].replace('-', np.nan)

In [105]:
# 欠損値の確認
df_pref_category.isnull().sum()

集計年                    0
都道府県コード                0
都道府県名                  0
産業大分類コード               0
産業大分類名                 0
年齢                     0
所定内給与額（万円）          3526
年間賞与その他特別給与額（万円）    3526
一人当たり賃金（万円）         3526
dtype: int64

In [106]:
print(df_pref_category.dtypes)

集計年                  int64
都道府県コード              int64
都道府県名               object
産業大分類コード            object
産業大分類名              object
年齢                  object
所定内給与額（万円）          object
年間賞与その他特別給与額（万円）    object
一人当たり賃金（万円）         object
dtype: object

In [107]:
# 欠損地の処理方法<br>
## １そのまま<br>
## ２欠損値を含む行を削除<br>: 行が多いとデータが減る
## ３欠損値を統計値で補完　：平均値や中央値など統計値を代入する
# 今回は、欠損地レコードが3526/97760と少ないので削除する drop.na

In [108]:
# 今回は、欠損地レコードが3526/97760と少ないので削除する drop.na
df_pref_category.dropna(
    subset=['所定内給与額（万円）'],
    axis=0,
    inplace=True
)
print(df_pref_category.shape)

(94234, 9)

In [109]:
# 欠損値が修正されているかのチェック
df_pref_category.isnull().sum()

集計年                 0
都道府県コード             0
都道府県名               0
産業大分類コード            0
産業大分類名              0
年齢                  0
所定内給与額（万円）          0
年間賞与その他特別給与額（万円）    0
一人当たり賃金（万円）         0
dtype: int64

In [110]:
print(df_pref_category.dtypes)

集計年                  int64
都道府県コード              int64
都道府県名               object
産業大分類コード            object
産業大分類名              object
年齢                  object
所定内給与額（万円）          object
年間賞与その他特別給与額（万円）    object
一人当たり賃金（万円）         object
dtype: object

In [111]:
# 欠損値がなくなってもデータ型は変わらない→ データ型の変換も必要

データ型の変換
============

In [112]:
# 一括でテータ型を変換する　dictionary型で変換する（一つの場合はastype）

In [115]:
df_pref_category = df_pref_category.astype({'所定内給与額（万円）': float, '年間賞与その他特別給与額（万円）': float, '一人当たり賃金（万円）': float})
print('======データ型\n', df_pref_category.dtypes)

======データ型
 集計年                   int64
都道府県コード               int64
都道府県名                object
産業大分類コード             object
産業大分類名               object
年齢                   object
所定内給与額（万円）          float64
年間賞与その他特別給与額（万円）    float64
一人当たり賃金（万円）         float64
dtype: object

In [116]:
#　条件抽出してデータを確認

In [121]:
df_jp_category[df_jp_category['一人当たり賃金（万円）'] > 400]

,集計年,産業大分類コード,産業大分類名,年齢,所定内給与額（万円）,年間賞与その他特別給与額（万円）,一人当たり賃金（万円）
0,2010,C,鉱業，採石業，砂利採取業,年齢計,31.2283,93.9023,468.6416
4,2010,C,鉱業，採石業，砂利採取業,30〜34歳,27.8412,72.1694,406.2639
5,2010,C,鉱業，採石業，砂利採取業,35〜39歳,30.6428,88.4950,456.2090
6,2010,C,鉱業，採石業，砂利採取業,40〜44歳,32.3186,101.8686,489.6920
7,2010,C,鉱業，採石業，砂利採取業,45〜49歳,35.3451,122.9471,547.0881
...,...,...,...,...,...,...,...
2063,2019,Q,複合サービス事業,55〜59歳,37.1388,131.3999,577.0656
2073,2019,R,サービス業（他に分類されないもの）,40〜44歳,28.3622,68.4621,408.8090
2074,2019,R,サービス業（他に分類されないもの）,45〜49歳,29.3146,70.3673,422.1430
2075,2019,R,サービス業（他に分類されないもの）,50〜54歳,29.3721,68.5499,421.0152
2076,2019,R,サービス業（他に分類されないもの）,55〜59歳,29.4049,71.2225,424.0817

In [ ]:
#　複数条件でのデータ抽出 論理演算子 ()&() を使用する

In [124]:
df_pref_category[(df_pref_category['一人当たり賃金（万円）'] > 900) & (df_pref_category['都道府県名'] == '東京都')]

,集計年,都道府県コード,都道府県名,産業大分類コード,産業大分類名,年齢,所定内給与額（万円）,年間賞与その他特別給与額（万円）,一人当たり賃金（万円）
2503,2010,13,東京都,C,鉱業，採石業，砂利採取業,45〜49歳,58.88,341.39,1047.95
2504,2010,13,東京都,C,鉱業，採石業，砂利採取業,50〜54歳,66.59,415.81,1214.89
2505,2010,13,東京都,C,鉱業，採石業，砂利採取業,55〜59歳,68.96,432.67,1260.19
2556,2010,13,東京都,G,情報通信業,50〜54歳,64.22,207.55,978.19
2557,2010,13,東京都,G,情報通信業,55〜59歳,60.30,182.65,906.25
...,...,...,...,...,...,...,...,...,...
90606,2019,13,東京都,L,学術研究，専門・技術サービス業,55〜59歳,55.29,242.54,906.02
90644,2019,13,東京都,O,教育，学習支援業,50〜54歳,58.58,271.15,974.11
90645,2019,13,東京都,O,教育，学習支援業,55〜59歳,63.57,301.49,1064.33
90646,2019,13,東京都,O,教育，学習支援業,60〜64歳,62.22,306.26,1052.90
90647,2019,13,東京都,O,教育，学習支援業,65〜69歳,63.25,262.77,1021.77